body {
  text-align: center;
  background-color: #1b1b1b;
  color: white;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
}

h1{
  text-align: center;
}

.project-github{
  display: grid;
  place-items: center;
}

.project-github p{
  font-weight: bold;
  font-size: 15px;
  color : white;
  margin-top: 20px;
}


canvas {
  border: 1px solid white;
  border-radius: 4px;
}

button {
  background-color: #50d950;
  font-weight: bold;
  border: none;
  color: #1b1b1b;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 30px 2px;
  cursor: pointer;
  border-radius: 4px; /* Borde redondeado suave */
  transition: background-color 0.3s ease; /* Transición suave al cambiar de color */
}

button:hover {
  background-color: #3cb43c; /* Color verde más oscuro al pasar el mouse */
}

@media (max-width: 480px) {
  canvas{
    width: 340px;
    height: 340px;
  }

}